#body{
    background-color: #37306B;
}


#h1 {
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-weight: 1000;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#todo {
    list-style-type: none;
}

li {
    color: black;
}

.btn {
    height: 50px; 
    width: 90px;
}

.teks{
    width: 60%;
}

.text.done {
    text-decoration: line-through;
}

.fa-pencil {
    float: right;
    margin-right: 10px;
}

.fa-circle-xmark {
    float: right;
}
